@import "../../styles/config";

.loader {
  width: 100vw;
  height: 0.3rem;
  background: rgb(36, 235, 222);
  background: linear-gradient(
    83deg,
    rgba(36, 235, 222, 1) 0%,
    rgba(25, 219, 31, 1) 18%,
    rgba(70, 29, 193, 1) 36%,
    rgba(209, 19, 67, 1) 51%,
    rgba(11, 192, 222, 1) 66%,
    rgba(228, 21, 43, 1) 84%,
    rgba(232, 131, 142, 1) 96%
  );
  background-size: 400% 400%;
  background-position: 300%;
  position: fixed;
  animation: gradient 4s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }

  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}
