@import '../../styles/config.scss';

.input{
    width: 90%;
    display: block;
    margin: 1rem auto;
    height: 2rem;
    padding-left: 1rem;
    outline: none;
    border: solid 1px #00000040;
    letter-spacing: 2px;
    color: #0000009f;
}

.password{
    width: 90%;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: auto 2rem;
    grid-template-rows: 2rem;
    border: solid 1px #00000040;
    align-items: center;
}

.passwordInput{
    padding-left: 1rem;
    outline: none;
    border: none;
    border-right: solid 1px #00000040;
    letter-spacing: 2px;
    color: #0000009f;
    height: 2rem;
}

.passwordIcon{
    color: #0000009f;
    text-align: center;
    background-color: rgb(189, 189, 189);
    height: 2rem;
    line-height: 2rem;
}