$text-gradient: linear-gradient(
  38deg,
  rgba(91, 216, 252, 1) 0%,
  rgba(92, 246, 154, 1) 53%
);
$text-gradient-alt: rgb(91, 216, 252);
$text-green: #5cf69a;
$button-green: #82b440;
$button-orange: #f09c20;
$background-green: #5bd8fc;
$sunset1: #1e2121;
$sunset2: #3a4242;
$sunset3: #546161;
$sunset4: #788484;
$sunset5: #a7aeae;
$sunset6: #d7d9d9;
$sunset7: #ffffff;

$background-gradient: linear-gradient(
  38deg,
  rgba(29, 45, 70, 1) 0%,
  rgba(43, 80, 86, 1) 81%
);
$background-alt: rgb(29, 45, 70);

@mixin easeOut {
  transition: all ease-out 300ms;
}
@mixin shadow {
  box-shadow: 0px 0px 2px 1px #00000040;
}

@mixin mediaMd {
  @media screen and (min-width: 501px) {
    @content;
  }
}
@mixin mediaLg {
  @media screen and (min-width: 769px) {
    @content;
  }
}
@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}

/* font-family: 'Dancing Script', cursive;
font-family: 'Roboto', sans-serif; */
