@import '../../styles/config.scss';

.mobileNav{
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    z-index: 2;
    padding-bottom: 2rem;
    background: url('/images/bg.jpg');
    background-position: left;
    background-size: cover;
    transform: translateX(-100%);
    @include easeOut;
    animation:slide 300ms ease-out;
    animation-iteration-count: 1;
    animation-fill-mode:forward ;
    @include mediaLg{
        display: none;
    }
}

@keyframes slide{
    from{
        transform: translateX(0)
    }
    to{
        transform: translateX(-100%)
    }
}

.openNav{
    transform: translateX(0);
}

.nav{
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1.5rem;
}

.logo{
    margin-top: 3rem;
    text-align: center;
}